.container {
    width: 100%;
    height: 30vh;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.container > img {
    height: 3.75rem
}

.container {
    width: 100%;
    justify-content: space-between;
    padding: 3.25rem 0;
}


.container > header button {
    background: transparent;
    border: none;

}

.container > header img:hover {
    scale: 1.3;

}

.container > header img {
    height: 2rem;
    transition: scale 0.5s
}

.container > header span {
    font-size: 1.12rem;
    color: #9b9b9b;
}


.container > header span strong {
    font-size: 1.37rem;
    color: #E8891C;
    
}

.container header {
    display: flex;
    gap: 2.5rem;
}